@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Add a tag</h2>
<hr><br>

<h4>Add a tag to this restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>