@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<p>@Html.ValidationMessageFor(model => model.CuisineId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Add a new restaurant</h4>
<hr><br>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")
  <input type="submit" value="Add new restaurants" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>